{{ header }} 
{% include 'kofi/template/new_elements/wrapper_top.twig' %}

<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
  <fieldset>
    <legend>{{ text_password }}</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
      <div class="col-sm-10">
        <input type="password" name="password" value="{{ password }}" id="input-password" class="form-control" />
        {% if error_password %}
        <div class="text-danger">{{ error_password }}</div>
        {% endif %} </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
      <div class="col-sm-10">
        <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control" />
        {% if error_confirm %}
        <div class="text-danger">{{ error_confirm }}</div>
        {% endif %}</div>
    </div>
  </fieldset>
  <div class="buttons clearfix">
    <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
    <div class="pull-right">
      <button type="submit" class="btn btn-primary">{{ button_continue }}</button>
    </div>
  </div>
</form>
      
{% include 'kofi/template/new_elements/wrapper_bottom.twig' %}
{{ footer }}