{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">

    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check"></i> {{ success }}</div>
    {% endif %}

    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Edit POWr Popup Module</h3>
      </div>
      <div class="panel-body">
        
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>



          <div class="form-group">
            {% if generated_id %} 
              <div class="col-sm-10 col-sm-offset-2">
                <p>A new unique ID has been generated for you:</p>
              </div>
            {% endif %}

            <label class="col-sm-2 control-label" for="input-id">POWr ID</label>
            <div class="col-sm-10">
              <input type="text" name="id" value="{{ id }}" placeholder="Enter ID" id="input-id" class="form-control" />
              {% if error_id %}
              <div class="text-danger">{{ error_id }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
        
        <br>
        <div class="text-center">
          <a href="https://help.powr.io/hc/en-us/articles/360024524234" target="_blank"
            data-toggle="tooltip" data-placement="right" title="Opens in New Window">
            Stuck? We’re here to help!
          </a>
        </div>

        
        {% if id %}
        <hr>
        <div class="row">
          <div class="col-12 text-center">
            <div id="preview"></div>
          </div>
        </div>
        {% endif %}

      </div> 
    </div>
  </div>
</div>

<script>
  $().ready(function(){
    loadPreview();
  });
  $('#input-id').on('input',function(){
    loadPreview();
  });

  function loadPreview(){
    var id = $('#input-id').val().trim();
    if (id.length > 0) {
      var myClass = "powr-popup";
      var html = `<script src="https://www.powr.io/powr.js?platform=opencart"><\/script><div class="`+myClass+`" id="`+id+`"></div>`;
      $('#preview').html(html);
      var myDiv = document.getElementById('preview');
      var arr = myDiv.getElementsByTagName('script')
      for (var n = 0; n < arr.length; n++)
          eval(arr[n].innerHTML) //run script inside div
    }
  }
</script>



{{ footer }}
